.vs/GDAX Trade Platform/v15/.suo
GDAX Trade Platform/bin/Debug/GDAX Trade Platform.exe
GDAX Trade Platform/bin/Debug/GDAX Trade Platform.pdb
.vs/GDAX Trade Platform/v15/Server/sqlite3/storage.ide-shm
.vs/GDAX Trade Platform/v15/Server/sqlite3/storage.ide-wal
.vs/GDAX Trade Platform/v15/.suo
.vs/GDAX Trade Platform/v15/Server/sqlite3/storage.ide
GDAX Trade Platform/bin/Debug/GDAX Trade Platform.exe
GDAX Trade Platform/bin/Debug/GDAX Trade Platform.pdb
